.m-contact--short.l-wrap.l-wrap--section
  h2.m-contact__title.t-h2
    span.t-gradient--dark.t-gradient--small Get in Touch

  .m-contact__list
    each item, index in contact
      .m-contact__item
        h5.m-contact__name.t-h5
          span(class="t-underline--#{index + 1}") #{item.name}
        .m-contact__details
          ul
            each line in item.address
              li= line
          ul
            each line in item.contact
              li= line
        a.m-contact__button.o-button--text.ss-mail(href="mailto:#{item.email}", class="m-contact__button--#{index + 1}") Contact #{item.person}
