extends templates/_basic

append template-head
  <!-- build:css assets/css/styleguide-min.css -->
  link(rel="stylesheet", href="assets/css/styleguide.css")
  <!-- endbuild -->

block template-body

  .l-wrap

    each swatch in ["text", "outline", "circle", "rectangle"]
      - var property
      case swatch
        when "outline"
          - property = "border"
        when "text"
          - property = "color"
        default
          - property = "background"

      section.sg-section

        .sg-group--colors
          each group, index in colors
            .sg-group__column
              each shade in group.shades
                div(class="sg-swatch--#{swatch} #{property}-#{index + 1}--#{shade.name}")
                  case swatch
                    when "rectangle"
                      .sg-overlay
                        .sg-overlay__content
                          span.sg-glyph--white Aa
                          span.sg-glyph--black Aa
                          small.sg-small= shade.value
                    when "text"
                      span.sg-title= shade.name

        .sg-group--greys
          each grey, index in greys
            .sg-item
              div(class="sg-swatch--#{swatch} #{property}-grey--#{grey.name}")
                case swatch
                  when "rectangle"
                    .sg-overlay
                      .sg-overlay__content
                        span.sg-glyph--white Aa
                        span.sg-glyph--black Aa
                        small.sg-small= grey.value
                  when "text"
                    span.sg-title= grey.name
